In [0]:
# aggregate functions
# these are used to perform functions on grouped data return single value as a result
    # approx_count_distinct() 
    #countDistinct()
    # avg()
    # count()
    # collect_list
    # collect_set
 #all are used to in select function to get values

In [0]:
# ranking funcions
# these functions used when partion or create windows for data to give row_number, rank, dens_rank
# or order by

In [0]:
from pyspark.sql.functions import row_number
from pyspark.sql.types import StructType,StructField,IntegerType,StringType
from pyspark.sql.window import Window
from pyspark.sql import Row

In [0]:
schema=StructType([\
    StructField('id',IntegerType()),\
    StructField('name',StringType()),\
    StructField('company',StringType()),\
    StructField('domain',StringType()),\
    StructField('salary',IntegerType())])
row1=Row(1,'lokesh','HCL','RPA',2000)
row2=Row(2,'GOPAL','TCS','MEDICAL',3000)
row3=Row(3,'SUHAIL','HCL','RPA',1500)
row4=Row(4,'ESWAR','INFOSYS','APPS',4000)
row5=Row(5,'RAMU','HCL','RPA',1000)
row6=Row(6,'MANOJ','TCS','APPS',7000)
data=[row1,row2,row3,row4,row5,row6]
df=spark.createDataFrame(data,schema)
display(df)

id,name,company,domain,salary
1,lokesh,HCL,RPA,2000
2,GOPAL,TCS,MEDICAL,3000
3,SUHAIL,HCL,RPA,1500
4,ESWAR,INFOSYS,APPS,4000
5,RAMU,HCL,RPA,1000
6,MANOJ,TCS,APPS,7000

In [0]:
window=Window.partitionBy('company').orderBy('salary')
df.withColumn('rowNumber',row_number().over(window)).show()
# it gives you row number from start for every window by this we can easily filter data by applying conditions on row number

+---+------+-------+-------+------+---------+
| id|  name|company| domain|salary|rowNumber|
+---+------+-------+-------+------+---------+
|  5|  RAMU|    HCL|    RPA|  1000|        1|
|  3|SUHAIL|    HCL|    RPA|  1500|        2|
|  1|lokesh|    HCL|    RPA|  2000|        3|
|  4| ESWAR|INFOSYS|   APPS|  4000|        1|
|  2| GOPAL|    TCS|MEDICAL|  3000|        1|
|  6| MANOJ|    TCS|   APPS|  7000|        2|
+---+------+-------+-------+------+---------+