In [0]:
from pyspark.sql import Row

In [0]:
classs=Row('id','name','age','salary')
stu1=classs(1,'loki','22',2000)
stu2=classs(2,'gopi','25',2000)
stu3=classs(3,'sri','22',2000)
stu4=classs(4,'hari','27',2050)
stu4=classs(4,'hari','27',2050)
data=[stu1,stu2,stu3,stu4,stu4]
df=spark.createDataFrame(data)
df.show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  2|gopi| 25|  2000|
|  3| sri| 22|  2000|
|  4|hari| 27|  2050|
|  4|hari| 27|  2050|
+---+----+---+------+

In [0]:
# distinct & dropDistinct functions used to get distinct rows $ these removes duplicates from your table
# the differemce between didtinct() & dropDuplicates is 
#       in distinct it filter out based on rows if duplicate rows exists
#       in dropDuplicates we can ditinct() in addition we can ge distinct values based on column also by passing list of columns to it 
df.distinct().show()
df.dropDuplicates().show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  2|gopi| 25|  2000|
|  3| sri| 22|  2000|
|  4|hari| 27|  2050|
+---+----+---+------+

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  2|gopi| 25|  2000|
|  3| sri| 22|  2000|
|  4|hari| 27|  2050|
+---+----+---+------+

In [0]:
df.dropDuplicates(['salary']).show()
df.dropDuplicates(['salary','age']).show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  4|hari| 27|  2050|
+---+----+---+------+

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  2|gopi| 25|  2000|
|  4|hari| 27|  2050|
+---+----+---+------+

In [0]:
# sort & orderBy functions
df.sort('name').show()
df.sort(df.id.desc()).show()
df.orderBy(df.age.desc()).show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  2|gopi| 25|  2000|
|  4|hari| 27|  2050|
|  4|hari| 27|  2050|
|  1|loki| 22|  2000|
|  3| sri| 22|  2000|
+---+----+---+------+

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  4|hari| 27|  2050|
|  4|hari| 27|  2050|
|  3| sri| 22|  2000|
|  2|gopi| 25|  2000|
|  1|loki| 22|  2000|
+---+----+---+------+

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  4|hari| 27|  2050|
|  4|hari| 27|  2050|
|  2|gopi| 25|  2000|
|  3| sri| 22|  2000|
|  1|loki| 22|  2000|
+---+----+---+------+

In [0]:
# union & unionAll() -> these operations will ue when you have similar schema
#in sql  union -> used to merge tow tables with removing duplicates and union all merge two tables regardless of duplicates it will merge with duplicate rows,
# in pyspark union and unionAll merge tow dataferames then create new dataframe without removing duplicates , we can remove duplicates using distinct() operation

In [0]:
class2=Row('id','name','age','salary')
stu1=class2(6,'loki','22',2000)
stu2=class2(7,'gopi','25',2000)
stu3=classs(8,'sri','22',2000)
stu4=class2(9,'hari','27',2050)
data=[stu1,stu2,stu3,stu4]
df1=spark.createDataFrame(data)
df1.show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  6|loki| 22|  2000|
|  7|gopi| 25|  2000|
|  8| sri| 22|  2000|
|  9|hari| 27|  2050|
+---+----+---+------+

In [0]:
df2=df.union(df1)
df2.show()
df3=df.unionAll(df1)
df3.show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  2|gopi| 25|  2000|
|  3| sri| 22|  2000|
|  4|hari| 27|  2050|
|  4|hari| 27|  2050|
|  6|loki| 22|  2000|
|  7|gopi| 25|  2000|
|  8| sri| 22|  2000|
|  9|hari| 27|  2050|
+---+----+---+------+

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  1|loki| 22|  2000|
|  2|gopi| 25|  2000|
|  3| sri| 22|  2000|
|  4|hari| 27|  2050|
|  4|hari| 27|  2050|
|  6|loki| 22|  2000|
|  7|gopi| 25|  2000|
|  8| sri| 22|  2000|
|  9|hari| 27|  2050|
+---+----+---+------+

In [0]:
data1=[('lokesh',22)]
schema1=['name','age']
dfr1=spark.createDataFrame(data1,schema1)

data2=[('gopal',20000)]
schema2=['name','salary']
dfr2=spark.createDataFrame(data2,schema2)
dfr1.show()
dfr2.show()

+------+---+
|  name|age|
+------+---+
|lokesh| 22|
+------+---+

+-----+------+
| name|salary|
+-----+------+
|gopal| 20000|
+-----+------+

In [0]:
# unionByName -> use dto merge two dataframes eventhough dataframe schema is different, but we need pass on parameter here that is allowMissingColumns=True
dfr1.unionByName(dfr2,allowMissingColumns=True).show()

+------+----+------+
|  name| age|salary|
+------+----+------+
|lokesh|  22|  null|
| gopal|null| 20000|
+------+----+------+

In [0]:
# gropuBy class is used to group the data based on columns and return grouped data, wwe can also perform aggregation like max , count,min,avg, mean opaarations on ths data
df4=df2.groupBy('age').count()
df4.show()

+---+-----+
|age|count|
+---+-----+
| 22|    4|
| 25|    2|
| 27|    3|
+---+-----+

In [0]:
df2.groupBy(df2.age).max('salary').show()

+---+-----------+
|age|max(salary)|
+---+-----------+
| 22|       2000|
| 25|       2000|
| 27|       2050|
+---+-----------+

In [0]:
# performing multiple aggregate function on single data frame
from pyspark.sql.functions import count, max, min

In [0]:
df.groupBy('age').agg(count('*').alias('count of students '),\
    max('salary').alias('maxium salry'),\
    min('salary').alias('mimimum salary for this age ')).show()

+---+------------------+------------+----------------------------+
|age|count of students |maxium salry|mimimum salary for this age |
+---+------------------+------------+----------------------------+
| 22|                 2|        2000|                        2000|
| 25|                 1|        2000|                        2000|
| 27|                 2|        2050|                        2050|
+---+------------------+------------+----------------------------+