In [0]:
# # ROW class in pyspark
# # Row is a class ussed to create entire row as a object
# by using those objects we can represent dataframe, these are like exension of tuple(as we use tuple in list to represent data)
from pyspark.sql import Row

In [0]:
# creating row objects of a entire data by using properties(columns) 
row1=Row(id=1,name='lokesh',marks=99)
row2=Row(id=2,name='gopi',marks=90)
data=[row1,row2]
df=spark.createDataFrame(data)
df.show()

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  1|lokesh|   99|
|  2|  gopi|   90|
+---+------+-----+

In [0]:
#accessing data by using row
print(row1.name+'  and marks are :'+str(row1.marks))

lokesh  and marks are :99

In [0]:
#crwate class by using row
Person=Row('name','age')
p1=Person('loki',22)
p2=Person('gopi',25)
df1=spark.createDataFrame([p1,p2])
df1.show()

+----+---+
|name|age|
+----+---+
|loki| 22|
|gopi| 25|
+----+---+

In [0]:
#create struct type or nested struct type
data=[Row(name='loki',marks=Row(maths=25,telugu=24)),\
    Row(name='gopi',marks=Row(maths=22,telugu=19))]
df2=spark.createDataFrame(data)
df2.printSchema()
df2.show()

root
 |-- name: string (nullable = true)
 |-- marks: struct (nullable = true)
 |    |-- maths: long (nullable = true)
 |    |-- telugu: long (nullable = true)

+----+--------+
|name|   marks|
+----+--------+
|loki|{25, 24}|
|gopi|{22, 19}|
+----+--------+

In [0]:
# column class is used to represent singlr column 
# by using column object we can do many operations  like filtering, boolean , manipulation, retrieving.
# we create new column and it's object simply by using lit() function
from pyspark.sql.functions import col,lit
from pyspark.sql import Row

In [0]:
row1=Row(id=1,name='lokesh',marks=99)
row2=Row(id=2,name='gopi',marks=90)
data=[row1,row2]
df=spark.createDataFrame(data)
df.show()

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  1|lokesh|   99|
|  2|  gopi|   90|
+---+------+-----+

In [0]:
#create new column and its static or default value using lit() function
df.withColumn('percentage',lit('98')).show()

+---+------+-----+----------+
| id|  name|marks|percentage|
+---+------+-----+----------+
|  1|lokesh|   99|        98|
|  2|  gopi|   90|        98|
+---+------+-----+----------+

In [0]:
#different ways to access columns
df.select(df.name).show()
df.select(df['name']).show()
df.select(col('name')).show()

+------+
|  name|
+------+
|lokesh|
|  gopi|
+------+

+------+
|  name|
+------+
|lokesh|
|  gopi|
+------+

+------+
|  name|
+------+
|lokesh|
|  gopi|
+------+

In [0]:
display(df)

id,name,marks
1,lokesh,99
2,gopi,90

In [0]:
# when and otherwise functions 
#these are used to excute the code based on condition like cases in sql
from pyspark.sql.functions import when

In [0]:
#df1=df.withColumn('result',when(col('marks')>90,'pass').ottherwise('fail'))
df1=df.select(df.name,df.marks,when(col('marks')>90,'pass').otherwise('fail').alias('result'))
display(df1)

name,marks,result
lokesh,99,pass
gopi,90,fail

In [0]:
# more column functions
    # alias()
    # cast()
    # like()
    # sort ->asc,desc

In [0]:
#alias -> used to name the an existing column or alternative name of a column to existing column
df.select(df.name.alias('StudentName'),df.marks.alias('StudentMarks')).show()

+-----------+------------+
|StudentName|StudentMarks|
+-----------+------------+
|     lokesh|          99|
|       gopi|          90|
+-----------+------------+

In [0]:
#cast -> used to convert one data type of column into another datatype
df.printSchema()
df1=df.select(df.name,df.marks.cast('int'))
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- marks: long (nullable = true)

root
 |-- name: string (nullable = true)
 |-- marks: integer (nullable = true)

In [0]:
# like -> it is a wildcard function used to extract data which follows similar pattern it is used to filter data
df.filter(df.name.like('l%')).show()

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  1|lokesh|   99|
+---+------+-----+

In [0]:
# sort -> used to sort data based on particular column
df.sort(df.marks.asc()).show()
df.sort(df.marks.desc()).show()

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  2|  gopi|   90|
|  1|lokesh|   99|
+---+------+-----+

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  1|lokesh|   99|
|  2|  gopi|   90|
+---+------+-----+

In [0]:
from pyspark.sql import Row
from pyspark.sql.functions import

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
File <command-394609090706062>:2
      1 from pyspark.sql import Row
----> 2 from pyspark.sql.functions import where

ImportError: cannot import name 'where' from 'pyspark.sql.functions' (/databricks/spark/python/pyspark/sql/functions.py)

In [0]:
row1=Row(id=1,name='lokesh',marks=99)
row2=Row(id=2,name='gopi',marks=90)
row3=Row(id=3,name='sri',marks=85)
data=[row1,row2,row3]
df=spark.createDataFrame(data)
df.show()

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  1|lokesh|   99|
|  2|  gopi|   90|
|  3|   sri|   85|
+---+------+-----+

In [0]:
# where and filter functions
df.filter(df.marks==99).show()
df.filter("name=='gopi'").show()
df.where((df.marks==99) | (df.name=='sri')).show()

+---+------+-----+
| id|  name|marks|
+---+------+-----+
|  1|lokesh|   99|
|  3|   sri|   85|
+---+------+-----+